Repository Meezzi/sodong-app, pull requests merged in 2025-05, with the labels that each got.

#1 docs: update issue template
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2 Update issue, pr template
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#4 Lint 적용
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Labels: feat

#19 [Splash] Splash Page 구현
  assets/login.png
  assets/splash.png
  lib/features/auth/presentation/pages/login/login_page.dart
  lib/features/auth/presentation/pages/signup/signup_page.dart
  lib/features/auth/presentation/pages/splash/splash_page.dart
  lib/features/auth/presentation/widgets/login_page_widget.dart
  lib/features/auth/presentation/widgets/signup_page_widget.dart
  lib/features/auth/presentation/widgets/splash_page_widget.dart
  lib/main.dart
  pubspec.yaml
Labels: feat

#22 [Firebase] Firebase 연동
  .gitignore
  analysis_options.yaml
  android/app/build.gradle.kts
  android/app/src/main/kotlin/com/devkingdom/sodong/MainActivity.kt
  ios/Runner.xcodeproj/project.pbxproj
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#23 [View Post] 메인 페이지 UI 구현
  analysis_options.yaml
  lib/features/post_list/data/repository/post_repository.dart
  lib/features/post_list/domain/models/category.dart
  lib/features/post_list/domain/models/region.dart
  lib/features/post_list/domain/models/town_life_post.dart
  lib/features/post_list/presentation/pages/town_life_page.dart
  lib/features/post_list/presentation/view_models/region_view_model.dart
  lib/features/post_list/presentation/view_models/town_life_view_model.dart
  lib/features/post_list/presentation/widgets/category_selector.dart
  lib/features/post_list/presentation/widgets/region_selector.dart
  lib/features/post_list/presentation/widgets/town_life_post_item.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#28 [View Post] 지역별 글 불러오기
  lib/features/post_list/data/cache/post_cache_manager.dart
  lib/features/post_list/data/pagination/pagination_manager.dart
  lib/features/post_list/data/repository/post_repository.dart
  lib/features/post_list/domain/models/category.dart
  lib/features/post_list/domain/models/firestore_post.dart
  lib/features/post_list/domain/models/region.dart
  lib/features/post_list/domain/models/town_life_post.dart
  lib/features/post_list/presentation/pages/post_list_page.dart
  lib/features/post_list/presentation/view_models/liked_posts_view_model.dart
  lib/features/post_list/presentation/view_models/town_life_view_model.dart
  lib/features/post_list/presentation/widgets/region_selector.dart
  lib/features/post_list/presentation/widgets/town_life_post_item.dart
  pubspec.yaml
Labels: feat

#35 [Bug] cloud_firestore 패키지 버전 오류
  pubspec.lock
  pubspec.yaml
Labels: bug

#33 [Location] API요청해서 구단위로 위치정보 불러오기
  .gitignore
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  ios/Runner/Info.plist
  lib/features/auth/data/repository/vworld_Location_repositiry.dart
  lib/features/auth/data/repository/vworld_location_repository_provider.dart
  lib/features/auth/presentation/pages/login/login_page.dart
  lib/features/location/location_viewmodel.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#29 [Create Post] 게시글 저장
  lib/core/result/create_post_exception.dart
  lib/core/result/result.dart
  lib/features/create_post/domain/usecase/create_post_usecase.dart
  lib/features/create_post/presentation/view_models/create_post_view_model.dart
  lib/features/post/data/remote_post_repository.dart
  lib/features/post/domain/entities/post.dart
  lib/features/post/domain/entities/region.dart
  lib/features/post/domain/repository/post_repository.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#39 [Create Post] 게시글 작성 화면 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/features/create_post/data/repository/image_picker_repository.dart
  lib/features/create_post/domain/usecase/pick_image_usecase.dart
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/create_post/presentation/pages/widgets/category_dropdown.dart
  lib/features/create_post/presentation/pages/widgets/content_text_field.dart
  lib/features/create_post/presentation/pages/widgets/image_picker_and_anonymous_row.dart
  lib/features/create_post/presentation/pages/widgets/image_preview.dart
  lib/features/create_post/presentation/pages/widgets/title_text_field.dart
  lib/features/create_post/presentation/view_models/image_picker_view_model.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#42 [Post Detail] 댓글 기능 구현(클린 아키텍쳐 구조)
  android/app/build.gradle.kts
  android/settings.gradle.kts
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  lib/features/location/location_viewmodel.dart
  lib/features/post_detail/data/data_sources/comment_data_source.dart
  lib/features/post_detail/data/dtos/comment_dto.dart
  lib/features/post_detail/data/dtos/post_detail_dto.dart
  lib/features/post_detail/data/providers/chat_detail_providers.dart
  lib/features/post_detail/data/providers/comment_provider.dart
  lib/features/post_detail/data/repository/comment_repository_impl.dart
  lib/features/post_detail/data/repository/post_detail_repository.dart
  lib/features/post_detail/domain/entities/comment_entity.dart
  lib/features/post_detail/domain/repositories/comment_repository.dart
  lib/features/post_detail/domain/usecases/add_comment_usecase.dart
  lib/features/post_detail/domain/usecases/get_comment_usecase.dart
  lib/features/post_detail/presentation/pages/post_detail_page.dart
  lib/features/post_detail/presentation/viewmodels/comment_view_model.dart
  lib/features/post_detail/presentation/viewmodels/comment_view_model_provider.dart
  lib/features/post_detail/presentation/widgets/detail_comment_input.dart
  lib/features/post_detail/presentation/widgets/detail_comment_item.dart
  lib/features/post_detail/presentation/widgets/detail_content.dart
  lib/features/post_detail/presentation/widgets/detail_header.dart
  lib/features/post_detail/presentation/widgets/detail_image_view.dart
  lib/features/post_detail/presentation/widgets/detail_loctaion.dart
  lib/features/post_detail/presentation/widgets/detail_title.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#43 [View Post] post_list 클린아키텍처 구조 리팩토링
  analysis_options.yaml
  lib/features/post_list/data/datasources/post_cache_data_source.dart
  lib/features/post_list/data/datasources/post_remote_data_source.dart
  lib/features/post_list/data/pagination/pagination_manager.dart
  lib/features/post_list/data/repositories/post_repository_impl.dart
  lib/features/post_list/data/repository/post_repository.dart
  lib/features/post_list/domain/models/firestore_post.dart
  lib/features/post_list/domain/models/region.dart
  lib/features/post_list/domain/models/town_life_post.dart
  lib/features/post_list/domain/repositories/post_repository.dart
  lib/features/post_list/domain/usecase/post_service.dart
  lib/features/post_list/presentation/pages/post_list_page.dart
  lib/features/post_list/presentation/providers/post_providers.dart
  lib/features/post_list/presentation/view_models/liked_posts_view_model.dart
  lib/features/post_list/presentation/view_models/pagination_manager.dart
  lib/features/post_list/presentation/view_models/town_life_view_model.dart
  lib/features/post_list/presentation/widgets/category_selector.dart
  lib/features/post_list/presentation/widgets/region_selector.dart
  lib/features/post_list/presentation/widgets/town_life_post_item.dart
Labels: refactor

#41 [Auth] firebase authentication으로 구글 로그인 기능 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/build.gradle.kts
  android/settings.gradle.kts
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Info.plist
  lib/features/auth/presentation/pages/login/login_page.dart
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
  lib/features/auth/presentation/pages/signup/signup_page.dart
  lib/features/location/location_viewmodel.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: feat

#50 import문 수정
  ios/Podfile.lock
  lib/features/post_list/presentation/providers/post_providers.dart
  lib/features/post_list/presentation/view_models/pagination_manager.dart
  lib/features/post_list/presentation/view_models/town_life_view_model.dart
  lib/main.dart
Labels: refactor

#51 [Post] 게시물 작성 화면, 홈 화면, 상세보기 화면 통합
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/create_post/presentation/view_models/create_post_view_model.dart
  lib/features/post/domain/entities/post.dart
  lib/features/post/domain/entities/region.dart
  lib/features/post_detail/data/dtos/post_detail_dto.dart
  lib/features/post_detail/data/providers/chat_detail_providers.dart
  lib/features/post_detail/presentation/pages/post_detail_page.dart
  lib/features/post_detail/presentation/widgets/detail_image_view.dart
  lib/features/post_list/presentation/pages/post_list_page.dart
  lib/main.dart
Labels: feat

#54 [Profile] 프로필 기능 구현
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  lib/features/profile/data/data_sources/profile_data_source.dart
  lib/features/profile/data/dtos/profile_dto.dart
  lib/features/profile/data/providers/profile_provider.dart
  lib/features/profile/data/repositories/profile_repository_impl.dart
  lib/features/profile/domain/entities/profile_entity.dart
  lib/features/profile/domain/repositories/profile_repository.dart
  lib/features/profile/domain/usecases/get_user_profile_usecase.dart
  lib/features/profile/domain/usecases/update_user_profile_usecase.dart
  lib/features/profile/presentation/pages/profile_page.dart
  lib/features/profile/presentation/viewmodels/profile_view_model.dart
  pubspec.lock
Labels: feat

#55 [Policy] 이용약관, 개인정보 처리 방침 구현
  lib/features/auth/presentation/pages/policy/agreement_page.dart
  lib/features/auth/presentation/pages/policy/location_policy_page.dart
  lib/features/auth/presentation/pages/policy/privacy_policy_page.dart
  lib/features/auth/presentation/pages/policy/terms_page.dart
  lib/features/auth/presentation/pages/policy/widgets/agreement_check_tile.dart
  lib/features/auth/presentation/pages/policy/widgets/common_widgets.dart
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
  lib/features/auth/presentation/pages/splash/splash_page.dart
  lib/main.dart
Labels: feat

#56 [auth] 로그인이미 한 유저 앱 실행 시 바로 홈으로 이동하고 프로필생성 후 홈 이동시 로딩
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
Labels: feat

#62 [Auth] 약관 동의 후, 화면 표시 X
  lib/features/auth/data/user_repository.dart
  lib/features/auth/domain/repositories/user_repository.dart
  lib/features/auth/domain/usecase/check_user_status_usecase.dart
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
  lib/features/auth/presentation/pages/splash/splash_page.dart
Labels: feat

#63 [Create Post, View Post] 리디자인 및 기능개선
  android/app/build.gradle.kts
  ios/Flutter/Profile.xcconfig
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/create_post/presentation/pages/widgets/category_dropdown.dart
  lib/features/create_post/presentation/pages/widgets/content_text_field.dart
  lib/features/create_post/presentation/pages/widgets/image_picker_and_anonymous_row.dart
  lib/features/create_post/presentation/pages/widgets/image_preview.dart
  lib/features/create_post/presentation/pages/widgets/title_text_field.dart
  lib/features/create_post/presentation/view_models/create_post_view_model.dart
  lib/features/create_post/presentation/view_models/image_picker_view_model.dart
  lib/features/location/location_viewmodel.dart
  lib/features/post_list/presentation/pages/post_list_page.dart
  lib/features/post_list/presentation/view_models/town_life_view_model.dart
  lib/features/post_list/presentation/widgets/category_selector.dart
  lib/features/post_list/presentation/widgets/region_selector.dart
  lib/features/post_list/presentation/widgets/town_life_post_item.dart
  pubspec.lock
Labels: feat

#65 [Create Post] 게시물 작성 시, uid, nickname, 익명 여부 저장
  lib/features/auth/domain/entities/user.dart
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
  lib/features/auth/presentation/pages/splash/splash_page.dart
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/create_post/presentation/view_models/create_post_view_model.dart
Labels: bug

#67 [Auth] 클린아키텍처 구조 적용 리펙토링
  lib/features/auth/data/repository/vworld_location_repository_provider.dart
  lib/features/auth/presentation/pages/profile_edit/profile_edit.dart
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/locations/data/data_source/vworld_location_data_source.dart
  lib/features/locations/data/data_source/vworld_location_datasource_impl.dart
  lib/features/locations/data/repository/location_repository_impl.dart
  lib/features/locations/domain/entity/location.dart
  lib/features/locations/domain/repository/location_repository.dart
  lib/features/locations/domain/usecase/get_location_by_latlng_usecase.dart
  lib/features/locations/domain/usecase/get_location_by_name_usecase.dart
  lib/features/locations/domain/usecase/get_location_usecase.dart
  lib/features/locations/presentation/provider/providers.dart
  lib/features/locations/presentation/viewmodel/location_view_model.dart
Labels: refactor

#74 [Profile] 프로필 네비게이터 설정 및 UI 조정
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  lib/features/post_list/presentation/pages/post_list_page.dart
  lib/features/profile/data/dtos/profile_dto.dart
  lib/features/profile/presentation/pages/profile_page.dart
  pubspec.lock
Labels: feat

#75 [Create Post] UI 코드 정리
  lib/features/create_post/presentation/pages/create_post_page.dart
  lib/features/create_post/presentation/pages/widgets/category_dropdown.dart
  lib/features/create_post/presentation/pages/widgets/content_text_field.dart
  lib/features/create_post/presentation/pages/widgets/current_location.dart
  lib/features/create_post/presentation/pages/widgets/custom_dialog.dart
  lib/features/create_post/presentation/pages/widgets/image_picker_and_anonymous_row.dart
  lib/features/create_post/presentation/pages/widgets/image_preview.dart
  lib/features/create_post/presentation/pages/widgets/loading_view.dart
  lib/features/create_post/presentation/pages/widgets/post_card.dart
  lib/features/create_post/presentation/pages/widgets/title_text_field.dart
  lib/features/create_post/presentation/pages/widgets/top_app_bar_title.dart
  lib/features/create_post/presentation/view_models/image_picker_view_model.dart
Labels: refactor

#78 [README] 리드미작성
  README.md
  screenshots/create_post_screen.png
  screenshots/login_screen.png
  screenshots/post_detail_screen.png
  screenshots/post_list_screen.png
  screenshots/profile_edit_screen.png
  screenshots/splash_screen.png
Labels: documentation

#80 [Auth] 약관 동의 화면 표시 X
  lib/features/auth/data/user_repository.dart
  lib/features/auth/domain/usecase/check_user_status_usecase.dart
Labels: bug
